/* Your existing styles */


body{
  background-image: linear-gradient(to right, rgb(122, 122, 131),rgb(29, 29, 61));
}
.head {
  display: flex;
  padding-bottom: 50px;
}

.logo {
  font-family: Papyrus, Courier New;
  font-weight: 400;
}

.menu {
  /* Adjust the margin for smaller screens */
  margin-left: 10px;
  font-size: medium;
  font-weight: 300;
  font-style: bold;
  padding-bottom: 4px;
  font-style: none;
}

/* unvisited link */
a:link {
  text-decoration: none;
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

/* ===============HEADING=================== */
.tittle {
  text-align: center;
  font-size: 32px;
  color: #000000;
  font-weight: 1000;
}

.kwibaraguza {
  text-align: center;
  color: #958B8B;
}
.works{
  display: flex;
  justify-content: center;
  align-items: center;
   }
.work{
 
  justify-content: center;
}
img {
  width: 250px; /* Make images responsive within their containers */
  max-width: 400; /* Limit maximum image width */
  height: 250px; /* Maintain image aspect ratio */
  opacity: 0.8;
  border-radius: 20px;
  border: 2px solid #fff;
  box-shadow: 10px 10px 5px #ccc;
}
img:hover{
  opacity: 1;
}
.name{
  font-weight: 900;
  color: black;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

td {
  padding: 10px;
  text-align: center;
   /* Reduce padding for smaller screens */
}



.send {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

button {
  background-color:  rgb(7, 7, 70);
  color: #ffffff;
  height: 40px;
  width: 100%; /* Make buttons expand to full width on smaller screens */
  max-width: 200px; /* Limit maximum button width */
}

/* Media query for screens smaller than 768px (adjust the breakpoint as needed) */
@media (max-width: 768px) {
  .menu {
      margin-left: 0; /* Remove left margin on smaller screens */
  }

  td {
      padding: 5px; /* Further reduce padding for smaller screens */
  }
}
